//background colors
$dark-aqua: #1e5968;
$light-grey: #e1ebeb;
$indigo: #262e55;


//text colors
$black: #000000;
$white: #ffffff;
$grey: #222222;


//button colors
$seafoam: #6ec3c3;
$rust: #a24a4c;
